.bigtitle{
    text-align: center;
    font-size: 32px;
}
.cart_img{
    width: 50px;
    height: 50px;
}
.order_title{
    text-align: center;
    margin-bottom: 30px;

}

.order_title strong{
    font-size: 32px;
}

board_list{
    display: flex;
    justify-content: center;
    align-items: center;
}
thead{
    font-size: 24px;
    text-align: center;
}
tbody{
    text-align: center;
}

.page-area{
	font-size : 24px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items : center;
}